{% load branding i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>{% block title %}{% endblock %} - {% site_branding %}</title>
    {% block myjs%} {%endblock%}
    {% include "horizon/_conf.html" %}
    {% block css %}
      {% include "_stylesheets.html" %}
    {% endblock %}
    {% include "horizon/client_side/_script_loader.html" %}


<link href="/static/dashboard/css/top.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
  </head>


<body id="{% block body_id %}{% endblock %}"> 
<!--
    {%block openstack_header%}
    <div class='openstack_header'>
	  <div  height=35px><br><br></div>
          {% include "_header.html" %}
    </div>
    {%endblock%}
-->
<!--
<body onload="MM_preloadImages('/static/dashboard/images/tubiao-1.png','/static/dashboard/images/tubiao-3.png','/static/dashboard/images/tubiao-5.png','/static/dashboard/images/tubiao-7.png','/static/dashboard/images/tubiao-9.png','/static/dashboard/images/tubiao-11.png')">
-->
<div class="container">
      <div class="logo_div">
         <img src="/static/dashboard/image/logo.png" width="292"  height="46" />
      </div>
      <div class="table_div"> 
    <table width="444" height="60" border="0" align="right" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="65"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image2','','/static/dashboard/image/tubiao-1.png',1)"><img src="/static/dashboard/image/tubiao-2.png" name="Image2" width="64" height="63" border="0" id="Image2"  /></a> </td>
        <td width="64"><a href="/horizon/dashboards/Instance/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','/static/dashboard/image/tubiao-3.png',1)"><img src="/static/dashboard/image/tubiao-4.png" name="Image3" width="64" height="63" border="0" id="Image3" /></a> </td>
        <td width="64"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','/static/dashboard/image/tubiao-5.png',1)"><img src="/static/dashboard/image/tubiao-6.png" name="Image4" width="64" height="63" border="0" id="Image4" /></a> </td>
        <td width="64"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','/static/dashboard/image/tubiao-7.png',1)"><img src="/static/dashboard/image/tubiao-8.png" name="Image5" width="64" height="63" border="0" id="Image5" /></a> </td>
        <td width="64"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','/static/dashboard/image/tubiao-9.png',1)"><img src="/static/dashboard/image/tubiao-10.png" name="Image6" width="64" height="63" border="0" id="Image6" /></a> </td>
        <td width="64"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image7','','/static/dashboard/image/tubiao-11.png',1)"><img src="/static/dashboard/image/tubiao-12.png" name="Image7" width="64" height="63" border="0" id="Image7" /></a></td>
        <td width="59"><div class="table_div2">
      <table width="50" height="48" border="0" align="right" cellpadding="0" cellspacing="0" >
        <tr>
          <td height="27"><a href="#"><img src="/static/dashboard/image/bz.png"  width="15" height="14" /></a></td>
          <td><a href="{{ HORIZON_CONFIG.help_url }}">帮助</a></td>
        </tr>
         <tr>
          <td><a href="#"><img src="/static/dashboard/image/tuichu.png"  width="15"/></a></td>
          <td><a href="{% url logout %}">退出</a></td>
        </tr>
       </table>
    </div></td>
      </tr> 
    </table>
  
  </div>    
    
</div>


    {%block openstack_top_nav%}
    <div class="menu">
  	<table width="194" height="30" border="0" cellpadding="0" cellspacing="0" align="left">
   	    <tbody><tr><td width="15"><img src="/static/dashboard/images/glcd.png"></td><td width="179">{% trans "Menu" %}</tr></tbody>
        </table>
    	<div class="weizhi_div">
      	    <table width="588" height="30" border="0" align="left">
     	        <tbody><tr>
                <td width="26" height="25 "><img src="/static/dashboard/images/diannao.png" width="16" height="16"></td>
                <td width="67">{%trans "Position:"%}</td>
                <td width="477">{%block position_info%}{%endblock%}</td>
                </tr>       
	        </tbody>
	    </table>
        </div>
    </div>
    {%endblock%}

    {% block content %}
      <div id="container">
        {% block sidebar %}
          {% include 'horizon/common/_sidebar.html' %}
        {% endblock %}
        <div id='main_content'>
          <div class='topbar'>
          {% block page_header %}{% endblock %}
          </div>
          {% include "horizon/_messages.html" %}
          {% block main %}{% endblock %}
        </div>
      </div>
    {% endblock %}
    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
    {% block js %}
      {% include "horizon/_scripts.html" %}
    {% endblock %}
    <div id="modal_wrapper" />
  </body>
</html>
