{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal_class %}login {% if hide %}modal hide{% endif %}{% endblock %}

{% block form_action %}{% url login %}{% endblock %}

{% block modal-body %}
      
      {% if next %}
	<tr>
          <td><input type="hidden" name="{{ redirect_field_name }}" value="{{ next }}" /></td>
        </tr>
      	<tr>
      	 <td height="10"></td>
      	 <td width="10"></td>
      	 <td></td>
      	</tr>
      {% endif %}
      
      
      <tr>
	<td>
        <filedset>
    	{% include "horizon/common/_form_fields.html" %}
    	</filedset>
	</td>
      </tr>

      <tr> 
	<td>&nbsp;<ins style='font-size:11px' id="captcha_tip">看不清？点击图片更换验证码</ins></td>
      </tr> 

      <tr>
		<!--<td>
		<div class="login_buttons">
		<span id="submit_button">
		<button type="submit" class="btn btn-primary pull-right">登陆</button>
		</span>

		<span id="register_button">
		<button type="button" disabled="disabled">注册</button>
		</span>
		</div>
		</td>-->

	<td>
          &nbsp;<button type="submit" class="btn btn-primary pull-right">登陆</button>
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" disabled="disabled">注册</button>
        </td>		



      </tr>
{% endblock %}
