<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>instanceleft</title>

<link href="/static/dashboard/css/left.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
</script>
</head>
-->
<link href="/static/dashboard/css/left.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
</script>
<body>
<div class="menu">
  <div class="bg">
    <div class="bg1"></div>
   <div class="bg2">
       <div class="left_table">
         <table width="80" height="235" border="0" cellpadding="0" cellspacing="0" align="center">
         <tr>
           <td height="55" class="main_left_menu01"><a href="#"> 概&nbsp;&nbsp;述</a>
		   </td>
         </tr>
		 <tr>
		 <td><img src="/static/dashboard/image/daohang-3.png" /></td> 
		 </tr>
          <tr>
           <td height="55" class="main_left_menu01"><a href="{% url horizon:syspanel:instances:index %}">云主机</a></td>
         </tr>  
		 <tr>
		 <td><img src="/static/dashboard/image/daohang-3.png" /></td>
		 </tr>
          <tr>
           <td height="55" class="main_left_menu01"><a href="#">云阵列</a></td>
         </tr>
		 <tr>
		 <td><img src="/static/dashboard/image/daohang-3.png" /></td>
		 </tr>
          <tr>
           <td height="55" class="main_left_menu01"><a href="#">镜&nbsp;&nbsp;像</a></td>
         </tr>
		 <tr>
		 <td><img src="/static/dashboard/image/daohang-3.png" /></td>
		 </tr>
          <tr>
           <td height="55" class="main_left_menu01"><a href="#">快&nbsp;&nbsp;照</a></td>
         </tr>
		 <tr>
		 <td><img src="/static/dashboard/image/daohang-3.png" /></td>
		 </tr>
          <tr>
           <td height="55" class="main_left_menu01"><a href="#">公网IP</a></td>
         </tr>
		 <tr>
		 <td><img src="/static/dashboard/image/daohang-3.png" /></td>
		 </tr>
          <tr>
           <td height="55" class="main_left_menu01"><a href="#">密钥对</a></td>
         </tr>
         </table>
     </div>
    </div>
     <div class="bg3"></div>
  </div>
</div>
</body>
</html>
