<div>CPU使用情况:
<div id="chartdiv-cpu" style="width: 100%; height: 400px;"></div>
<br>
<br>
<div>内存使用情况:
<div id="chartdiv-mem" style="width: 100%; height: 400px;"></div>
<br>
<br>
<div>网络接受流量:
<div id="chartdiv-NetIn" style="width: 100%; height: 400px;"></div>
<br>
<br>
<div>磁盘读取情况:
<div id="chartdiv-DiskRead" style="width: 100%; height: 400px;"></div>



<script type="text/javascript">
var chartData = new Array();
function amcharts(show_div, y_msg) {
	// SERIAL CHART        
	chart = new AmCharts.AmSerialChart();
	chart.pathToImages = "../../../../../../static/dashboard/images/";
	chart.dataProvider = chartData;
	chart.categoryField = "date";

                var xAxis = new AmCharts.ValueAxis();
                xAxis.title = y_msg;
                xAxis.position = "bottom";
                xAxis.dashLength = 1;
                xAxis.axisAlpha = 0;
                xAxis.autoGridCount = true;
                chart.addValueAxis(xAxis);


	// AXES
	var categoryAxis = chart.categoryAxis;
	categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
	categoryAxis.minPeriod = "ss"; // our data is daily, so we set minPeriod to DD				 
	categoryAxis.gridAlpha = 0.10;
	categoryAxis.axisAlpha = 0;
	categoryAxis.inside = true;

	// value
	var valueAxis = new AmCharts.ValueAxis();
	valueAxis.tickLength = 0;
	valueAxis.axisAlpha = 0;
	valueAxis.gridAlpha = 0;
	valueAxis.showFirstLabel = false;
	valueAxis.showLastLabel = false;
	valueAxis.unit = "12"
	valueAxis.unitposition = 'right'
	chart.addValueAxis(valueAxis);

	// GRAPH
	var graph = new AmCharts.AmGraph();
	graph.lineColor = "#00CC00";
	graph.valueField = "value";
	chart.addGraph(graph);

	// CURSOR
	var chartCursor = new AmCharts.ChartCursor();
	chart.addChartCursor(chartCursor);

	// SCROLLBAR
	var chartScrollbar = new AmCharts.ChartScrollbar();
	chart.addChartScrollbar(chartScrollbar);                

	//chart.write("chartdiv-cpu");
	chart.write(show_div);
};

function reload_chart(){
	var instance_name = "{{instance_name}}";
	$.ajax({ 
		url : "http://159.226.50.227/md",
		data: { query : instance_name, stime: "all" },
		dataType: "json",
		success: function(data){
			monitor_data = data[instance_name+"-cpu"];
			for(var i=0;i<monitor_data.length;i++)
			{
				chartData.push( {date: new Date(monitor_data[i].date),value: monitor_data[i].value});
			}

		        $("#chartdiv").empty();
		        amcharts("chartdiv-cpu", "CPU(%)") ;
			chartData.splice(0,chartData.length);  

                        monitor_data = data[instance_name+"-mem"];
			for(var i=0;i<monitor_data.length;i++)
			{
				chartData.push( {date: new Date(monitor_data[i].date),value: monitor_data[i].value});
			}
		        $("#chartdiv-mem").empty();
		        amcharts("chartdiv-mem", "Memory(%)") ;
			chartData.splice(0,chartData.length);  
	
                        monitor_data = data[instance_name+"-NetIn"];
			for(var i=0;i<monitor_data.length;i++)
			{
				chartData.push( {date: new Date(monitor_data[i].date),value: monitor_data[i].value});
			}
		        $("#chartdiv-NetIn").empty();
		        amcharts("chartdiv-NetIn", "NetWork Received(M)") ;
			chartData.splice(0,chartData.length);  

                        monitor_data = data[instance_name+"-DiskRead"];
			for(var i=0;i<monitor_data.length;i++)
			{
				chartData.push( {date: new Date(monitor_data[i].date),value: monitor_data[i].value});
			}
		        $("#chartdiv-DiskRead").empty();
		        amcharts("chartdiv-DiskRead", "Disk Read(M)") ;
			chartData.splice(0,chartData.length);  

			window.setTimeout("reload_chart()", 5000);
		},
	});
}
window.setTimeout("reload_chart()", 1);
$(function(){
	 reload_chart();
});
</script>



