{% extends 'base.html' %}
{% load i18n sizeformat %}

{% block myjs %}
        <script type="text/javascript" src="../../../static/dashboard/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../../static/dashboard/js/amcharts.js"></script>
{%endblock%}

{% block title %}{% trans "Instance Detail" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title="Instance Detail: "|add:instance.name %}
{% endblock page_header %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
  {{ tab_group.render }}
  </div>
</div>
{% endblock %}
