{% extends 'base.html' %}
{% load i18n %}
{% block myjs %}
<script type="text/javascript" src="../../../static/dashboard/js/jquery.min.js"></script>
<script >
function reload_usage(){
	var todo = []
        $(".rsusage").each(function(i, o){
		todo.push( $(o).attr("value")  );
        });
	
	var ins = todo.join(",") ;

	$.ajax({ 
		url: "http://159.226.50.227/md",
		data: { query : ins, stime: "latest" } ,
		dataType: "json",
		success: function(data){
			for ( ins in data){
				$(".rsusage[value=" + ins + "]").html( "<B>CPU: </B>"+data[ins]['cpu']+"<br><B>MEM: </B>"+data[ins]['mem'] + "%<br><B>NetIn: </B>"+data[ins]['netin']+"M<br><B>NetOut: </B>"+data[ins]['netout']+"M<br>" );
			}
			window.setTimeout("reload_usage()", 4000);
		},
	});
}

window.setTimeout("reload_usage()", 4000);

$(function(){
	reload_usage();
})
</script>
{%endblock%}

{% block title %}{% trans "Instances" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Instances") %}
{% endblock page_header %}

{% block position_info %}
{%trans "Projects:"%} &gt; {% trans "Instances"%}
{% endblock %}

{% block main %}
  {{ table.render }}
{% endblock %}
