{% extends 'base.html' %}
{% load i18n %}
{% block myjs %}
<script type="text/javascript" src="../../../static/dashboard/js/jquery.min.js"></script>
<script >
function reload_usage(){
	var todo = []
        $(".rsusage").each(function(i, o){
		todo.push( $(o).attr("value")  );
        });
	
	var ins = todo.join(",") ;

	$.ajax({ 
		url: "http://159.226.50.227/md",
		data: { query : ins, stime: "latest", horizon:"we" } ,
		dataType: "json",
		success: function(data){
			for ( ins in data){
				$(".rsusage[value=" + ins + "]").html( "CPU:"+data[ins]['cpu']+"<br>MEM:"+data[ins]['mem'] );
			}
			window.setTimeout("reload_usage()", 5000);
		},
		error: function(xhr, code, msg){
			$(".rsusage").html("--");
			window.setTimeout("reload_usage()", 5000);
		}
	});
}
window.setTimeout("reload_usage()", 5000);

$(function(){
	reload_usage();
})
</script>
{%endblock%}

{% block title %}{% trans "Instances" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Instances") %}
{% endblock page_header %}

{% block main %}
  {{ table.render }}
{% endblock %}
