body { font-family:Verdana; font-size:12px; margin:0;}

#container {margin:0 auto; padding:0;}
#header { height:75px; background:url(images/header.png); padding-top:10px; padding-bottom:10px; border-bottom:4px solid #016897}
.menu { height:30px; margin-bottom:0px; background-image:url(images/bg-meun.png); font-size:14px; border:#CCCCCC solid 1px; text-align:center;}
#mainContent { height:500px; margin-bottom:5px;}
#sidebar { float:left; width:200px; height:500px; background:#9ff;}
#content { float:right; width:695px; height:500px; background:#cff;}/*因为是固定宽度，采用左右浮动方法可有效避免ie 3像素bug*/
#footer { height:23px; background:url(images/footer.png) repeat-x; height:22px; width:800xp;}

.logo_div{padding-left:20px; margin-top:20px; width:254px; height:51;}
.table_div{ float:right; padding-top:-10px;}
.help_div{ padding-top:-10px;}
.menu_weizhi_div{font-size:12px; margin-left:200px;}
.gly_div{font-size:12px; color:#0033CC;}
.main_left{width:192px; height:550px; padding-top:14px; padding-left:5px; padding-right:10px; padding-bottom:35px; background-color:ececec; }
.table_div1{ float:left; padding-top:-30px; background-repeat:no-repeat; margin-right:-1px;}
.left_div{width:193px; height:555px; float:left; background-color:#999999;}
.font3 {font-size: 14px;text-decoration: none;color: #013e7f; letter-spacing:-0.5px;}
.font1{text-decoration: none;color: #013e7f; font-weight:bold;}
.font2{text-decoration: none;color: #ffffff; font-weight:bold;}
.table_div_input2{height:20px; width:250px; border:#999999 1px solid; float:right; }


.biaoti_table{font-size:14px; color:#000066; font-weight:bold; padding-top:15px; padding-left:15px; padding-right:30px;}
.table_div4{ float:inherit; font-size:12px; color:#eaf5ff; margin-top:10px; padding-left:15px; padding-right:30px; color:#000000; border-collapse:collapse;}
.table_1{ font-size:14px; color:#000066; font-weight:bold; padding-top:25px; padding-left:15px; padding-right:30px;}
.table_2{ padding-top:30px; padding-left:15px; padding-right:30px;}
.table_div4 td,.table_div4 th{ border-bottom:1px  solid #0099FF; border-left:1px  solid #0099FF;text-align:left; padding-left:25px;}
.top1{border-top:1px  solid #0099FF; background-color:#b9dbe2;}
.top2{border-top:1px  solid #0099FF; border-right:1px  solid #0099FF; background-color:#b9dbe2;}
.top3{ border-right:1px  solid #0099FF; background:#f0f0f1;}
.top4{ border-right:1px  solid #0099FF; }
.altrow2{background:#f0f0f1; }