@charset "utf-8";
/* CSS Document */

body{ font-family:Arial, Helvetica, sans-serif "宋体"; color:#000; font-size:12px; margin:0; padding:0; margin:0 auto; }
div{ margin:0px; padding:0px;}
img{ margin:0px; padding:0px; border:0px;}
ul{ margin:0px; padding:0px; list-style-type:none;}
li{ margin:0px; padding:0px; list-style-type:none;}
.clear{clear:both;}

.main{width:190px; height:550px; background-color:#ececec; padding-left:4px; padding-right:0px;  }
.table_div{ height:165px; width:25px; text-align:center; font-size:12px; font-weight:bold; text-align:center;}
.font1{color:#FFFFFF;}
.bg-div{width:153px; height:9px; background:url(../images/left-3.png) no-repeat; }
.bg-div2{width:151px; min-height:490px; background:#FFF; border-left:#CCC 1px solid; border-right: #CCC 1px solid;  text-align:left;}
.bg-div3{width:153px; height:17px;  background:url(../images/left-6.png) no-repeat; }
.table_left{ width:29px; height:81px; float:left; background:url(../images/xtmb.png) no-repeat; margin-top:10px; margin-left:5px;}
.left_table{font-size:13px; width:130px; padding-left:25px; }
.dbxy{ border-bottom-color:#0066cc 1px dashed; }
.bg_div{height:81px; width:26px; float:left; background:url(../images/xtmb.png) no-repeat; float:left; margin-top:14px;}
.bg_div2{height:80px; width:26px; float:left; background:url(../images/xtmb.png) no-repeat;}
.bg_div3{height:81px; width:26px; float:left; background:url(../images/gc.png) no-repeat; }
.huadong{min_height:550px; width:7px; float:right; background:url(../images/zheye.jpg) repeat-y;}
.xiahua{ width:8px; height:550px; text-align:center;}
.left_right_div{float:left; width:152px; margin-top:14px;}